<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-rest-api-databasemanager.ZPM">
    <Module>
      <Name>iris-rest-api-databasemanager</Name>
      <Version>1.0.1</Version>
      <Description>Create persistent Tables and Datas in Cache Database using REST API</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="DatabaseManager.PKG"/>

       <CSPApplication 
        Url="/database"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="1"
        DispatchClass="DatabaseManager.WebService"
        ServeFiles="1"
        CookiePath="/database/"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
